.app-container {
    background-image: linear-gradient(rgb(10, 8, 26), rgb(164, 168, 182));
    height: auto;
}

.col-lg-3 {
    margin-top: 5%;
    height: 585px;
    max-height: 580px ;
    overflow: hidden;
    &:hover,
    &:active {
      transform: scale(1.1);
      cursor: pointer;
    }
    transition: .4s ease-in-out; 
  }

  .card-body {
        color: white;
        background-color: rgb(10, 8, 26);
        height: 170px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  }

  .h5 {
      font-size: 1.1rem !important;
      max-height: 10px;
  }

  .card-img {
      min-height: 370px;
      max-height: 370px;
  }